@font-face {
  font-family:"railway";
  src: url("/assets/fonts/raleway/Raleway-Light.ttf") format("truetype");
}

.header {
  text-align: center;
}

.black_back {
  /* background-color: black; */
  background-color: rgb(25, 25, 25);
}

.white_back {
  /* background-color: white; */
  background-color: rgb(205, 205, 205);
}

.black_text {
  /* color: black; */
  color: rgb(25, 25, 25);
}

.white_text {
  /* color: white; */
  color: rgb(205, 205, 205);
}

.base_padding {
  padding: 25px 30px 20px 30px;
}

.base_padding_more {
  padding: 1vw 3vw 1vw 3vw;
}

.base_padding_even_more {
  padding: 40px 100px 20px 100px;
}

.base_padding_index {
  /* padding: 0px 120px 40px 120px; */
  padding: 0px 6vw 0vw 6vw;

}

.cards_padding {
  padding: 25px 30px 10px 30px;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.name {
  font-family: railway;
  font-size: 70px;
}

.title {
  font-family: railway;
  font-size: 2vh;
}

.links {
  padding-top: 20px;
  font-family: railway;
  font-size: 4vh;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

span {
  margin: 0 20px;
}

.videoembedded {
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  display: block
}

.ratio_image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1
}