@font-face {
  font-family:"railway";
  src: url("/assets/fonts/raleway/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family:"railway-bold";
  src: url("/assets/fonts/raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"poppins";
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

html {
  font-size: 34px;
}

.header {
  text-align: left;
}

@media screen and (min-width: 601px) {
  .black_back {
    background-color: rgb(25, 25, 25);
    font-size: 16px;
    font-family: railway;
  }
}

@media screen and (max-width: 600px) {
  .black_back {
    background-color: rgb(25, 25, 25);
    font-size: 12px;
    font-family: railway;
  }
}

.white_back {
  /* background-color: white; */
  background-color: rgb(205, 205, 205);
}

.black_text {
  /* color: black; */
  color: rgb(25, 25, 25);
}

.white_text {
  /* color: white; */
  color: rgb(205, 205, 205);
}

.beige_text {
  /* color: rgb(140, 135, 125); */
  color: rgb(194, 170, 128);
}

.base_padding {
  padding: 2vh 8vw 0vw 8vw;
}

.base_container_padding {
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.cards_padding {
  padding: 25px 30px 10px 30px;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.name {
  /* font-family: railway; */
  font-family: 'poppins';
  font-size: 5em;
  line-height: 1em;
}

.title {
  font-family: railway;
  font-size: 2vh;
}

.links {
  padding-top: 20px;
  font-family: railway;
  font-size: 4vh;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.videoembedded {
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  display: block
}

/* .button-index {
  font-size: 38px;
  color: rgb(205, 205, 205);
  background-color: rgb(25, 25, 25);
} */