.projs {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.margin {
  margin: 10px 10px 10px 10px;
}

.proj {
  position: relative;
  width: 100%;
}

.proj_rel{
  font-family: railway;
  font-size: 2vw;
}

.proj_title {
  font-family: railway;
  font-size: 3vw;
}

.proj_text {
  font-family: railway;
  font-size: 2vw;
}

.projtitle {
  font-size: 2vw;
}

.projtext {
  font-size: 1vw;
}

.proj_lang {
  font-family: railway;
  font-size: 1vw;
}

.desc {
  font-size: 3vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.technologies_desc {
  font-size: 2vh;
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.desc span {
  background-color: rgb(65, 57, 57);
}

.videoregular {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  overflow: hidden;
}

.video_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #818181;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #818181;
}

.overlay_dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: #707070; */
  /* background-image: linear-gradient(#606060, red, #606060); */
  /* linear-gradient(rgba(96,96,,0), rgba(255,0,0,1)); */
  background-image: linear-gradient(rgba(90,90,90,100), rgba(112,112,112,0), rgba(90,90,90,100));
}

.proj:hover .overlay {
  opacity: 0.9;
}

.proj:hover .overlay_dark {
  opacity: 0.9;
}

.proj:hover .video_overlay {
  opacity: 0.2;
}

.proj:hover .desc {
  opacity: 1;
}

.proj:hover .desc_light {
  opacity: 0.4;
}

model-viewer {
  width: 800px;
  height: 600px;
  padding-bottom: 10px;
}
