@font-face {
  font-family:"railway";
  src: url("/assets/fonts/raleway/Raleway-Light.ttf") format("truetype");
}

body {
  margin: 0;
  background: #000;
}

.videoregular {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    overflow: hidden;
}

.videoembedded {
    position: relative;
    width: 100%;
    height: auto;
    outline: none;
    display: block
}
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.video-container video {
	min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.main {
    font-family: railway;
    color: #FFFFFF;
    font-size: 2vw;

    border-radius: 1em;
    padding: 1em;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.desc {
    font-family: railway;
    color: #FFFFFF;
    font-size: 2vw;

    border-radius: 1em;
    padding: 1em;

    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.belowdesc {
    font-family: railway;
    color: #FFFFFF;
    font-size: 2vw;

    border-radius: 1em;
    padding: 1em;

    /* left: 25%; */
    width: 75%;
    transform: translate(15%, 0%)
}

.maintext {
    font-family: railway;
    color: #FFFFFF;
    font-size: 2vw;

    border-radius: 1em;
    padding: 1em;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

	width: 75%;
	height: 100%;
}

.top_bar {
  /* position: fixed; */
  text-align: center;
  padding: 2vw;
  z-index: 3;

}
.mid_left {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 50%;
    left: 0;
    padding: 2vw;
    transform: translate(0, -50%);
    z-index: 2;
}

.mid_bottom {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 90%;
    left: 50%;
    padding: 2vw;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.mid_right {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 50%;
    right: 2vw;
    padding: 0.5vw;
    transform: translate(0, -50%);
    z-index: 2;
}

.top_left {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0%;
    left: 0;
    padding: 2vw;
    transform: translate(0, 0);
    z-index: 2;
}

.top_right {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0%;
    right: 0;
    padding: 2vw;
    transform: translate(0, 0);
    z-index: 2;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.video_code {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 90%;
    left: 50%;
    padding: 2vw;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.fade-in {
  font-family: railway;
  color: #FFFFFF;
  font-size: 2vw;
  opacity: 0;

  border-radius: 1em;
  padding: 1em;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);


  animation: fadeIn ease 13;
  -webkit-animation: fadeIn ease 13s;
  -moz-animation: fadeIn ease 13s;
  -o-animation: fadeIn ease 13s;
  -ms-animation: fadeIn ease 13s;

  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  30% {
    opacity:1;
  }
  40% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  30% {
    opacity:1;
  }
  40% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  30% {
    opacity:1;
  }
  40% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  30% {
    opacity:1;
  }
  40% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  30% {
    opacity:1;
  }
  40% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
