.proj_rel{
  font-family: railway;
  color: #FFFFFF;
  font-size: 2vw;
}

.projtitle {
    font-family: railway;
    color: #FFFFFF;
    font-size: 2vw;

    border-radius: 1em;
    padding: 1em;

    position: absolute;
    top: 0;
    left: 0;
}

.projtext {
    font-family: railway;
    color: #FFFFFF;
    font-size: 1vw;

    border-radius: 1em;
    padding: 1em;
}

.video_desc {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.video_desc span {
  background-color: rgb(65, 57, 57);
}

.video_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #818181;
}

.proj:hover .video_overlay {
  opacity: 0.2;
}

.proj:hover .video_desc {
  opacity: 0.65;
}

.proj:hover .video_desc_light {
  opacity: 0.65;
}


/* Hide Play button + controls on iOS */
/* video::-webkit-media-controls {
    display:none !important;
} */
