.video_cell {
    position: relative;
    float: left;
    width: 33.33333%;
    height: 20vw;
}

.video_proj {
  position: absolute;
}

.video_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #818181;
}

.video_proj:hover .video_overlay {
  opacity: 0.2;
}

.video_overlay_dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #818181;
}

.video_proj:hover .video_overlay_dark {
  opacity: 0.3;
}
