.tree_buttons {
	position: absolute;
	top: 50%;
	z-index: 100;
    right: 0;
    padding: 3vw;
	display:block;
}

.tree_instructions {
	position: absolute;
	top: 25%;
	z-index: 100;
    right: 0;
    padding: 3vw;
	display:block;
}
